body {
    background-color: #b7ccd4;
    font-family: serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
}

h2 {
    width: 300px;
    background-color: white;
    color: rgb(33, 36, 181);
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;
    word-wrap: break-word;
}

p {
    width: 300px;
    border: 5px solid white;
    border-radius: 10px;
    color: rgb(0, 0, 163);
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
}

.highlight {
    width: 300px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    color: rgb(0, 0, 149);
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
}

.contact-info {
    width: 500px;
    border: 2px solid #f0ffff;
    border-radius: 5px;
    background-color: #f0ffff;
    font-weight: bold;
    color: rgb(16, 76, 120);
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
    font-size: 20px;
}

#header {
    width: 500px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center; 
    color: rgb(146, 147, 204);
    text-shadow: rgb(70, 243, 255) 5px 5px 5px;
    word-wrap: break-word;
}

.link:hover {
    background-color: white;
    cursor: pointer;
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    width: 350px;
    word-wrap: break-word;
}

input[type="text"], input[type="email"],textarea {
    width: 200px;
    border: 2px solid rgb(0, 0, 179);
    padding: 8px;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: rgb(0, 97, 130);
    outline: none;
    background-color: rgb(223, 254, 255);
}

button[type="submit"] {
    background-color: rgb(80, 171, 202);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:focus {
    color:rgb(0, 1, 61);
    background-color: rgb(0, 150, 200);
}
