body {
    font-family: Arial, sans-serif;
}
.flex-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 2px solid #ccc;
    height: 150px;
}

.item {
    background-color: #e0f7ff;
    color: black;
    font-size: 20px;
    width: 300px;
    text-align: left;
    border-radius: 15px;
    padding: 10px;
}

.item:hover {
    transform: scale(1.05);
}

.box-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 0;
    color: #333;
}

p {
    color: #666;
    font-size: 16px;
}