body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr;
    background-color: #ffffff;
    height: 100vh;
    box-sizing: border-box;
}

header {
    grid-column: 1 / 3;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
.aside {
    display: flex;
    align-items: flex-start;
    line-height: normal;
    grid-column: 1 / 2;
    background-color: blue;
    padding: 10px;
    color: white;
    font-size: 20px;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
}

h3 {
    font-weight: bold;
    list-style-type: none;
    margin: 10px 0;
    font-size: 26px;
}

.content {
    grid-column: 2 / 3;
    background-color: #f0f0f0;
    padding: 20px;
    color: black;
    text-align: left;
    font-size: 20px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto auto 70px;
    }

    header {
        grid-column: 1 / 2;
    }

    aside {
        grid-column: 1 / 2;
    }

    .content {
        grid-column: 1 / 2;
    }
}
